---
auth_enabled: false

server:
  http_listen_port: {{ ct_loki_bind_ct_port_http | int }}

distributor:
  ring:
    kvstore:
      store: memberlist

ingester:
  lifecycler:
    ring:
      kvstore:
        store: memberlist
      replication_factor: 1
    final_sleep: 0s
  chunk_idle_period: 5m
  chunk_retain_period: 30s

memberlist:
  abort_if_cluster_join_fails: false
  join_members:
  - loki-gossip-ring.loki.svc.cluster.local:7946

schema_config:
  configs:
  - from: 2021-08-01
    store: boltdb-shipper
    object_store: s3
    schema: v11
    index:
      prefix: index_
      period: 24h

common:
  path_prefix: /loki
  replication_factor: 1
  storage:
    s3:
      endpoint: {{ ct_loki_conf_s3_endpoint }}
      insecure: true
      bucketnames: {{ ct_loki_conf_s3_bucket }}
      access_key_id: {{ ct_loki_conf_s3_access_key }}
      secret_access_key: {{ ct_loki_conf_s3_secret_key }}
      s3forcepathstyle: true
  ring:
    kvstore:
      store: memberlist
...
