---
auth_enabled: false

server:
  http_listen_port: {{ ct_loki_bind_ct_port_http | int }}

distributor:
  ring:
    kvstore:
      store: memberlist

ingester:
  lifecycler:
    ring:
      kvstore:
        store: memberlist
      replication_factor: 1
    final_sleep: 0s
  chunk_idle_period: 5m
  chunk_retain_period: 30s

memberlist:
  abort_if_cluster_join_fails: false
  bind_port: 7946
  join_members:
  - loki-gossip-ring.loki.svc.cluster.local:7946
  max_join_backoff: 1m
  max_join_retries: 10
  min_join_backoff: 1s

schema_config:
  configs:
  - from: 2020-05-15
    store: boltdb-shipper
    object_store: s3
    schema: v11
    index:
      prefix: index_
      period: 24h
storage_config:
 boltdb_shipper:
   active_index_directory: /loki/index
   cache_location: /loki/index_cache
   shared_store: s3
 aws:
   s3: s3://{{ ct_loki_conf_s3_access_key }}:{{ ct_loki_conf_s3_secret_key }}@{{ ct_loki_conf_s3_endpoint }}/{{ ct_loki_conf_s3_bucket }}
   s3forcepathstyle: true
...
