GF_SERVER_DOMAIN={{ ct_grafana_env_gf_server_domain }}
GF_SERVER_ROOT_URL={{ ct_grafana_env_gf_server_root_url }}
GF_SERVER_ENFORCE_DOMAIN={{ ct_grafana_env_gf_server_enforce_domain }}
GF_SERVER_ENABLE_GZIP={{ ct_grafana_env_gf_server_enable_gzip }}
GF_ANALYTICS_REPORTING_ENABLED={{ ct_grafana_env_gf_analytics_reporting_enabled }}

# SMTP Settings
GF_SMTP_ENABLED={{ ct_grafana_env_gf_smtp_enabled }}
{% if ct_grafana_env_gf_smtp_enabled %}
GF_SMTP_HOST={{ ct_grafana_env_gf_smtp_host }}
GF_SMTP_FROM_ADDRESS={{ ct_grafana_env_gf_smtp_from_address }}
GF_SMTP_USER={{ ct_grafana_env_gf_smtp_user }}
GF_SMTP_PASSWORD={{ ct_grafana_env_gf_smtp_password }}
{% endif %}

# Extra arbitrary environment variables
{% for key, value in ct_grafana_env_extra.items() %}
{{ key }}={{ value }}
{% endfor %}
