# Generate by ct_grafana role from https://galaxy.ansible.com/almaops/monitoring
---
{% if ct_grafana_provisioning_delete_notifiers == [] %}
delete_notifiers: []
{% else %}
delete_notifiers:
{{ ct_grafana_provisioning_delete_notifiers | to_nice_yaml }}
{% endif %}
{% if ct_grafana_provisioning_notifiers == [] %}
notifiers: []
{% else %}
notifiers:
{{ ct_grafana_provisioning_notifiers | to_nice_yaml }}
{% endif %}
...
