# Initial admin user settings
GF_SECURITY_ADMIN_USER={{ ct_grafana_env_gf_security_admin_user }}
GF_SECURITY_ADMIN_PASSWORD={{ ct_grafana_env_gf_security_admin_password }}

# Server settings
GF_SERVER_DOMAIN={{ ct_grafana_env_gf_server_domain }}
GF_SERVER_ENFORCE_DOMAIN={{ ct_grafana_env_gf_server_enforce_domain }}
GF_SERVER_ROOT_URL={{ ct_grafana_env_gf_server_root_url }}
GF_SERVER_ENABLE_GZIP={{ ct_grafana_env_gf_server_enable_gzip }}

# Analytics settings
GF_ANALYTICS_REPORTING_ENABLED={{ ct_grafana_env_gf_analytics_reporting_enabled }}
GF_ANALYTICS_ENABLE_FEEDBACK_LINKS={{ ct_grafana_env_gf_analytics_enable_feedback_links }}

# Security settings
GF_SECURITY_DISABLE_GRAVATAR={{ ct_grafana_env_gf_security_disable_gravatar }}

# SMTP Settings
GF_SMTP_ENABLED={{ ct_grafana_env_gf_smtp_enabled }}
{% if ct_grafana_env_gf_smtp_enabled %}
GF_SMTP_HOST={{ ct_grafana_env_gf_smtp_host }}
GF_SMTP_FROM_ADDRESS={{ ct_grafana_env_gf_smtp_from_address }}
GF_SMTP_USER={{ ct_grafana_env_gf_smtp_user }}
GF_SMTP_PASSWORD={{ ct_grafana_env_gf_smtp_password }}
{% endif %}

# Extra arbitrary environment variables
{% for key, value in ct_grafana_env_extra.items() %}
{{ key }}={{ value }}
{% endfor %}
